#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Conky
Comment=Conky
Type=Application
Exec=/usr/bin/conky
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
X-GNOME-Autostart-Delay=5
